services:
  # ---------------------------------------------------------------------------
  # Database Service (Serving both Hive Metastore and Business Data)
  # ---------------------------------------------------------------------------
  postgres:
    image: postgres:15
    container_name: dbt_playground_postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres # default db
    volumes:
      - ./postgres/init_data.sql:/docker-entrypoint-initdb.d/init_data.sql
    ports:
      - "5432:5432"

  # ---------------------------------------------------------------------------
  # Object Storage (MinIO)
  # ---------------------------------------------------------------------------
  minio:
    image: quay.io/minio/minio:latest
    container_name: dbt_playground_minio
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"

  # ---------------------------------------------------------------------------
  # Hive Metastore
  # ---------------------------------------------------------------------------
  hive-metastore:
    image: apache/hive:4.0.0-alpha-2
    container_name: dbt_playground_hive_metastore
    depends_on:
      - postgres
      - minio
    environment:
      SERVICE_NAME: metastore
      DB_DRIVER: postgres
      # Connection to Postgres Metastore DB
      SERVICE_OPTS: "-Djavax.jdo.option.ConnectionDriverName=org.postgresql.Driver -Djavax.jdo.option.ConnectionURL=jdbc:postgresql://postgres:5432/metastore -Djavax.jdo.option.ConnectionUserName=admin -Djavax.jdo.option.ConnectionPassword=password"
      HADOOP_OPTIONAL_TOOLS: "hadoop-aws"
    volumes:
      - ./hive_config/hive-site.xml:/opt/hive/conf/hive-site.xml
    command: /opt/hive/bin/hive --service metastore

  # ---------------------------------------------------------------------------
  # Trino
  # ---------------------------------------------------------------------------
  trino:
    image: trinodb/trino:436
    container_name: dbt_playground_trino
    ports:
      - "8080:8080"
    volumes:
      - ./trino/etc:/etc/trino
      - ./scripts:/scripts
    depends_on:
      - hive-metastore
      - postgres
      - minio

  # ---------------------------------------------------------------------------
  # dbt
  # ---------------------------------------------------------------------------
  dbt:
    build:
      context: .
      dockerfile: dbt_docker/Dockerfile
    container_name: dbt_playground_dbt_runner
    command: tail -f /dev/null
    volumes:
      - ./dbt_project:/usr/app/dbt_project
      # Mount profiles locally so they persist and are easy to edit
      - ./dbt_profiles:/root/.dbt
    environment:
      - DBT_PROFILES_DIR=/root/.dbt
    ports:
      - "8081:8081" # Expose for dbt docs
    depends_on:
      - trino
